# Analysis d fjasnkjfankf
d
fdfdfsds

- dgdg
- gdfgd
- gdfdg

In [1]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

In [4]:
ds.dtypes

Any              int64
Mes              int64
Desc_Mes        object
Temperatura    float64
dtype: object

In [2]:
#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018
years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)
    
#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')
ymean_df

      Avg_temp
Year
1818     14.07
1819     14.34
1820     13.49
1821     14.31
1822     14.91
...        ...
2014     16.27
2015     16.60
2016     16.48
2017     16.38
2018     16.28

[201 rows x 1 columns]

In [3]:
# Alternative
df_years.mean(axis=1)

Any
1780    14.075000
1781    14.716667
1782    13.633333
1783    14.400000
1784    13.616667
          ...
2014    16.275000
2015    16.600000
2016    16.475000
2017    16.375000
2018    16.283333
Length: 239, dtype: float64

In [4]:
#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)
ymean_sort

      Avg_temp
Year
2015     16.60
2006     16.56
2016     16.48
2003     16.40
2017     16.38
...        ...
1883     13.28
1851     13.25
1829     13.22
1853     13.10
1887     12.85

[201 rows x 1 columns]

In [5]:
# Alternative
min_idx = ymean_df.idxmin()[0]
max_idx = ymean_df.idxmax()[0]
min_value = ymean_df.min()[0]
max_value = ymean_df.max()[0]
print(f"{min_idx} - {min_value}")
print(f"{max_idx} - {max_value}")

1887 - 12.85
2015 - 16.6

In [6]:
#### Average of the 200 years
ymean_mean = ymean_df.mean()
ymean_mean

Avg_temp    14.654428
dtype: float64

In [7]:
## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]
maxdif

Avg_temp    3.75
dtype: float64

In [8]:
# Alternative 1
maxdif = ymean_df['Avg_temp'][max_idx] - ymean_df['Avg_temp'][min_idx]
maxdif

3.7500000000000018

In [9]:
# Alternative 2
maxdif = ymean_df.loc[max_idx, 'Avg_temp'] - ymean_df.loc[min_idx, 'Avg_temp']
maxdif

3.7500000000000018

In [10]:
####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
# ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

In [11]:
### Calculating 100 year average temperatures gap
hundyr = range(100)
hungap = []
hunyr = []
for h in hundyr:
    raw = ymean_df.iloc[101+h] - ymean_df.iloc[1+h]
    yr = 1919
    hunyr.append(f'{yr+h}-{yr-100+h}')
    hungap.append(raw)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))
sortgap = gap_df.sort_values('Avtempdif', ascending=False)
gap_df.head()
print(gap_df.shape)

(100, 2)

In [12]:
### Calculating 50 year average temperatures gap
hundyr = range(50)
hungap = []
hunyr = []
for h in hundyr:
    raw = ymean_df.iloc[151+h] - ymean_df.iloc[101+h]
    yr = 1969
    hunyr.append(f'{yr+h}-{yr-50+h}')
    hungap.append(raw)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))
sortgap50 = gap_df.sort_values('Avtempdif', ascending=False)
gap_df.head()
print(gap_df.shape)

(50, 2)

In [13]:
# Alternative
def create_gap_diff(period):
    gap_df = ymean_df.diff(periods=period).dropna()
    gap_df.index = [f"{idx} - {idx - period}" for idx in gap_df.index]
    return gap_df

gap_100_df = create_gap_diff(100)
gap_50_df = create_gap_diff(50)

(101, 1) (151, 1)

In [14]:
# Calculating average temperatures of the different seasons and the yearly standard deviation.
dff = pd.read_csv('temperaturesbarcelonadesde1780.csv')
columns = ['Any', 1,2,3,4,5,6,7,8,9,10,11,12]
dff.columns = columns

t0 = dff[['Any']]
t1 = dff[['Any', 1,2,3]]
t2 = dff[['Any', 4,5,6]]
t3 = dff[['Any', 7,8,9]]
t4 = dff[['Any', 10,11,12]]

t0 = t0.set_index('Any')
t1 = t1.set_index('Any')
t2 = t2.set_index('Any')
t3 = t3.set_index('Any')
t4 = t4.set_index('Any')

years = range(0,239)
t1mean = []
t2mean = []
t3mean = []
t4mean = []

for r in years:
   t = round(t1.iloc[r].mean(),2)
   t22 = round(t2.iloc[r].mean(),2)
   t33 = round(t3.iloc[r].mean(),2)
   t44 = round(t4.iloc[r].mean(),2)
   t1mean.append(t)
   t2mean.append(t22)
   t3mean.append(t33)
   t4mean.append(t44)

t0.insert(0, 'T1Avg', t1mean, True)
t0.insert(1, 'T2Avg', t2mean, True)
t0.insert(2, 'T3Avg', t3mean, True)
t0.insert(3, 'T4Avg', t4mean, True)
t0def = t0.iloc[38:239]
t0def.insert(4, 'YAvg', ymean, True) 
stdt0 = t0def.std(axis=1)
defchart = pd.DataFrame(stdt0)
t0def.insert(4, 'Std', defchart, True)
t0def.tail()

      T1Avg  T2Avg  T3Avg  T4Avg       Std   YAvg
Any
2014  10.73  17.73  22.53  14.10  4.379489  16.27
2015   9.77  19.03  23.07  14.53  4.967384  16.60
2016  11.03  17.20  23.90  13.77  4.811999  16.48
2017  10.87  18.70  22.73  13.20  4.641587  16.38
2018   9.33  17.77  24.53  13.50  5.619463  16.28

In [30]:
# Alternative
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
df_years = df.set_index('Any')
columns = df_years.columns
quarters = [list(df_years.columns[idx:idx+3]) for idx in range(0, len(df_years.columns), 3)]

for idx, quarter in enumerate(quarters):
    df_years[f"Q{idx+1}Avg"] = df_years[quarter].mean(axis=1)

df_years.drop(columns, axis=1, inplace=True)
quarter_columns = df_years.columns
df_years['Std'] = df_years.std(axis=1)
df_years['YAvg'] = df_years[quarter_columns].mean(axis=1)
df_years.tail()

          Q1Avg      Q2Avg      Q3Avg      Q4Avg       Std       YAvg
Any
2014  10.733333  17.733333  22.533333  14.100000  5.057475  16.275000
2015   9.766667  19.033333  23.066667  14.533333  5.735981  16.600000
2016  11.033333  17.200000  23.900000  13.766667  5.555869  16.475000
2017  10.866667  18.700000  22.733333  13.200000  5.362101  16.375000
2018   9.333333  17.766667  24.533333  13.500000  6.488765  16.283333

In [16]:
#Checking maxs and mins per term 

#Term1: Winter
term1 = t0def[['T1Avg']]
sort_term1 = term1.sort_values("T1Avg", ascending=False)
sort_term1.head()
#sort_term1.tail()

#Term2: Spring

term2 = t0def[['T2Avg']]
sort_term2 = term2.sort_values("T2Avg", ascending=False)
sort_term2.head()
sort_term2.tail()

#Term3: Summer 

term3 = t0def[['T3Avg']]
sort_term3 = term3.sort_values("T3Avg", ascending=False)
sort_term3.head()
sort_term3.tail()

#Term4: Autumn 

term4 = t0def[['T4Avg']]
sort_term4 = term4.sort_values("T4Avg", ascending=False)
sort_term4.head()
sort_term4.tail()

#Checking standard deviations: see highest dispersion 

#Std

Std = t0def[['Std']]
sort_Std = Std.sort_values("Std", ascending=True)
sort_Std

           Std
Any
1912  3.648538
1977  3.674088
1972  3.857626
1882  3.915791
1833  3.922100
...        ...
1987  5.730068
2005  5.744943
2010  5.802194
1878  6.110615
2003  6.240166

[201 rows x 1 columns]

In [17]:
# Alternative
df_years.min()

Q1Avg     6.366667
Q2Avg    13.266667
Q3Avg    18.333333
Q4Avg     8.966667
Std       4.210690
YAvg     12.508333
dtype: float64

In [18]:
df_years.max()

Q1Avg    11.600000
Q2Avg    19.200000
Q3Avg    25.133333
Q4Avg    14.533333
Std       7.205091
YAvg     16.600000
dtype: float64