In [54]:
import pandas as pd
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

In [90]:
#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018

years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)

#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')

#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)

#### Average of the 200 years
ymean_mean = ymean_df.mean()


## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]

####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
# ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

In [88]:
#Pregunta 1: Has the temperature increased in Barcelona in the last 200 years?
# Temperature difference between averages from 2018 and 1993
# Diferència entre la mtijana de l'any 2018 - 1958
# Diferència entre la mitjana de l'any 2018 i 1818
### TO-DO Find the yearly average from 1780 to

      Avg_temp
Year
1818     14.07
1819     14.34
1820     13.49
1821     14.31
1822     14.91
1823     13.74
1824     13.98
1825     14.17
1826     13.88
1827     13.48
1828     14.78
1829     13.22
1830     13.93
1831     14.88
1832     14.19
1833     13.92
1834     14.49
1835     13.45
1836     13.34
1837     13.50
1838     14.05
1839     13.87
1840     13.72
1841     13.92
1842     14.05
1843     13.53
1844     14.07
1845     13.96
1846     15.65
1847     14.98
...        ...
1989     16.13
1990     15.80
1991     14.88
1992     15.03
1993     14.96
1994     16.04
1995     15.84
1996     14.98
1997     16.29
1998     15.62
1999     15.59
2000     15.91
2001     16.16
2002     15.78
2003     16.40
2004     15.75
2005     15.32
2006     16.56
2007     15.95
2008     15.43
2009     16.22
2010     15.05
2011     16.22
2012     16.08
2013     15.82
2014     16.27
2015     16.60
2016     16.47
2017     16.37
2018     16.28

[201 rows x 1 columns]

In [ ]:
# Question 3: If X is happening, does it mean we are having more extreme temperatues?
## Check mean temperature of 2018 and check the difference between coldest/warmest to mean (dispersion)
## Do the same process with ages 1993, 1958, 1818
### TO-DO Measure extreme temperatures compared to the average in all years

In [ ]:
hottest = ds.sort_values('Temperatura', ascending=False)
coldest = ds.sort_values('Temperatura')