In [2]:
import pandas as pd
import numpy as np
import re
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

In [59]:
#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018

years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)

#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')

#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)

#### Average of the 200 years
ymean_mean = ymean_df.mean()


## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]

####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

      Avg_temp
Year
1818     14.07
1819     14.34
1820     13.49
1821     14.31
1822     14.91
1823     13.74
1824     13.98
1825     14.17
1826     13.88
1827     13.48
1828     14.78
1829     13.22
1830     13.93
1831     14.88
1832     14.19
1833     13.92
1834     14.49
1835     13.45
1836     13.34
1837     13.50
1838     14.05
1839     13.87
1840     13.72
1841     13.92
1842     14.05
1843     13.53
1844     14.07
1845     13.96
1846     15.65
1847     14.98
...        ...
1989     16.13
1990     15.80
1991     14.88
1992     15.03
1993     14.96
1994     16.04
1995     15.84
1996     14.98
1997     16.29
1998     15.62
1999     15.59
2000     15.91
2001     16.16
2002     15.78
2003     16.40
2004     15.75
2005     15.32
2006     16.56
2007     15.95
2008     15.43
2009     16.22
2010     15.05
2011     16.22
2012     16.08
2013     15.82
2014     16.27
2015     16.60
2016     16.47
2017     16.37
2018     16.28

[201 rows x 1 columns]

In [93]:
#PROJECT QUESTION: Is Climate Change happenning in Barcelona?
# -- We considered climate change is happening if there is an increase of temperature above of 1,5ºC during the XXI century (100 years).
## https://www.bbc.com/news/science-environment-45678338
## https://www.ipcc.ch/sr15/chapter/glossary/

#Q1: Has the temperature increased in Barcelona in the last 200 years?
# Temperature difference between averages from 2018 and 1993
#### ymean_df.iloc[200] - ymean_df.iloc[175]
#Output: +1,32ºC
# Temperature difference between averages from 2018 and 1968
#### ymean_df.iloc[200] - ymean_df.iloc[150]
#Output: +1,41ºC
# Temperature difference between averages from 2018 and 1918
#### ymean_df.iloc[200] - ymean_df.iloc[100]
# Output: 2.05ºC
# Temperature difference between averages from 2018 and 1818
####ymean_df.iloc[200] - ymean_df.iloc[0]
#Output: +2,21ºC

hundyr = range(100)
hungap = []
hunyr = []
for h in hundyr:
    raw = (ymean_df.loc[1918+h] - ymean_df.loc[1818+h])
    yr = 2019
    hunyr.append(f'{yr-h}-{yr-100-h}')
    hungap.append(raw)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df

       Period                        Avtempdif
0   2019-1919  Avg_temp    0.16
dtype: float64
1   2018-1918  Avg_temp   -0.39
dtype: float64
2   2017-1917  Avg_temp    1.39
dtype: float64
3   2016-1916  Avg_temp    0.73
dtype: float64
4   2015-1915  Avg_temp   -0.55
dtype: float64
5   2014-1914  Avg_temp    0.69
dtype: float64
6   2013-1913  Avg_temp    0.75
dtype: float64
7   2012-1912  Avg_temp   -0.03
dtype: float64
8   2011-1911  Avg_temp    1.16
dtype: float64
9   2010-1910  Avg_temp    1.62
dtype: float64
10  2009-1909  Avg_temp    0.54
dtype: float64
11  2008-1908  Avg_temp    1.55
dtype: float64
12  2007-1907  Avg_temp    1.13
dtype: float64
13  2006-1906  Avg_temp   -0.25
dtype: float64
14  2005-1905  Avg_temp   -0.03
dtype: float64
15  2004-1904  Avg_temp    0.65
dtype: float64
16  2003-1903  Avg_temp    0.59
dtype: float64
17  2002-1902  Avg_temp    1.12
dtype: float64
18  2001-1901  Avg_temp    1.13
dtype: float64
19  2000-1900  Avg_temp    1.95
dtype: float64
20  1999-1899  Avg_temp    0.83
dtype: float64
21  1998-1898  Avg_temp    0.44
dtype: float64
22  1997-1897  Avg_temp    0.68
dtype: float64
23  1996-1896  Avg_temp    0.02
dtype: float64
24  1995-1895  Avg_temp    0.64
dtype: float64
25  1994-1894  Avg_temp    1.93
dtype: float64
26  1993-1893  Avg_temp    0.53
dtype: float64
27  1992-1892  Avg_temp    1.49
dtype: float64
28  1991-1891  Avg_temp   -1.18
dtype: float64
29  1990-1890  Avg_temp    0.85
dtype: float64
..        ...                              ...
70  1949-1849  Avg_temp    1.96
dtype: float64
71  1948-1848  Avg_temp    1.86
dtype: float64
72  1947-1847  Avg_temp    1.92
dtype: float64
73  1946-1846  Avg_temp    0.95
dtype: float64
74  1945-1845  Avg_temp    0.83
dtype: float64
75  1944-1844  Avg_temp    0.52
dtype: float64
76  1943-1843  Avg_temp    1.61
dtype: float64
77  1942-1842  Avg_temp    0.78
dtype: float64
78  1941-1841  Avg_temp    0.69
dtype: float64
79  1940-1840  Avg_temp    0.74
dtype: float64
80  1939-1839  Avg_temp    0.95
dtype: float64
81  1938-1838  Avg_temp    0.57
dtype: float64
82  1937-1837  Avg_temp    0.74
dtype: float64
83  1936-1836  Avg_temp    2.26
dtype: float64
84  1935-1835  Avg_temp    1.95
dtype: float64
85  1934-1834  Avg_temp    2.37
dtype: float64
86  1933-1833  Avg_temp    0.93
dtype: float64
87  1932-1832  Avg_temp    1.21
dtype: float64
88  1931-1831  Avg_temp    2.28
dtype: float64
89  1930-1830  Avg_temp    2.18
dtype: float64
90  1929-1829  Avg_temp    1.31
dtype: float64
91  1928-1828  Avg_temp    2.74
dtype: float64
92  1927-1827  Avg_temp    0.96
dtype: float64
93  1926-1826  Avg_temp    0.87
dtype: float64
94  1925-1825  Avg_temp    1.76
dtype: float64
95  1924-1824  Avg_temp    1.68
dtype: float64
96  1923-1823  Avg_temp    2.19
dtype: float64
97  1922-1822  Avg_temp    2.73
dtype: float64
98  1921-1821  Avg_temp    2.04
dtype: float64
99  1920-1820  Avg_temp    2.73
dtype: float64

[100 rows x 2 columns]

In [100]:
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))

In [105]:
gap_df

       Period  Avtempdif
0   2019-1919       0.16
1   2018-1918      -0.39
2   2017-1917       1.39
3   2016-1916       0.73
4   2015-1915      -0.55
5   2014-1914       0.69
6   2013-1913       0.75
7   2012-1912      -0.03
8   2011-1911       1.16
9   2010-1910       1.62
10  2009-1909       0.54
11  2008-1908       1.55
12  2007-1907       1.13
13  2006-1906      -0.25
14  2005-1905      -0.03
15  2004-1904       0.65
16  2003-1903       0.59
17  2002-1902       1.12
18  2001-1901       1.13
19  2000-1900       1.95
20  1999-1899       0.83
21  1998-1898       0.44
22  1997-1897       0.68
23  1996-1896       0.02
24  1995-1895       0.64
25  1994-1894       1.93
26  1993-1893       0.53
27  1992-1892       1.49
28  1991-1891      -1.18
29  1990-1890       0.85
..        ...        ...
70  1949-1849       1.96
71  1948-1848       1.86
72  1947-1847       1.92
73  1946-1846       0.95
74  1945-1845       0.83
75  1944-1844       0.52
76  1943-1843       1.61
77  1942-1842       0.78
78  1941-1841       0.69
79  1940-1840       0.74
80  1939-1839       0.95
81  1938-1838       0.57
82  1937-1837       0.74
83  1936-1836       2.26
84  1935-1835       1.95
85  1934-1834       2.37
86  1933-1833       0.93
87  1932-1832       1.21
88  1931-1831       2.28
89  1930-1830       2.18
90  1929-1829       1.31
91  1928-1828       2.74
92  1927-1827       0.96
93  1926-1826       0.87
94  1925-1825       1.76
95  1924-1824       1.68
96  1923-1823       2.19
97  1922-1822       2.73
98  1921-1821       2.04
99  1920-1820       2.73

[100 rows x 2 columns]

In [204]:
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))

In [ ]:
# Pregunta 2: Hi ha x resultat en comparació de mitjanes, és l'augment proporcional o s'està augmentant més ràpid que abans?
## Compare the average incresases between the ranges above.
### TO-DO Measure year-to-date differences (1,5,10,50,200)

In [87]:
dff = pd.read_csv('temperaturesbarcelonadesde1780.csv')
columns = ['Any', 1,2,3,4,5,6,7,8,9,10,11,12]
dff.columns = columns

t0 = dff[['Any']]
t1 = dff[['Any', 1,2,3]]
t2 = dff[['Any', 4,5,6]]
t3 = dff[['Any', 7,8,9]]
t4 = dff[['Any', 10,11,12]]

t0 = t0.set_index('Any')
t1 = t1.set_index('Any')
t2 = t2.set_index('Any')
t3 = t3.set_index('Any')
t4 = t4.set_index('Any')

years = range(0,239)
t1mean = []
t2mean = []
t3mean = []
t4mean = []

for r in years:
   t = round(t1.iloc[r].mean(),2)
   t22 = round(t2.iloc[r].mean(),2)
   t33 = round(t3.iloc[r].mean(),2)
   t44 = round(t4.iloc[r].mean(),2)
   t1mean.append(t)
   t2mean.append(t22)
   t3mean.append(t33)
   t4mean.append(t44)

t0.insert(0, 'T1Avg', t1mean, True)
t0.insert(1, 'T2Avg', t2mean, True)
t0.insert(2, 'T3Avg', t3mean, True)
t0.insert(3, 'T4Avg', t4mean, True)
t0def = t0.iloc[38:239]

In [88]:
t0def.insert(4, 'YAvg', ymean, True) 
stdt0 = t0def.std(axis=1)
defchart = pd.DataFrame(stdt0)
t0def.insert(4, 'Std', defchart, True)
t0def

#y = (mitjana-t1) + mitjana-t2 + mitjana-t3 + mitjana-t4

      T1Avg  T2Avg  T3Avg  T4Avg       Std   YAvg
Any
1818   9.23  14.80  20.43  11.83  4.166104  14.07
1819   8.43  16.33  21.03  11.57  4.778002  14.34
1820   7.53  15.47  20.73  10.23  5.061798  13.49
1821   8.87  14.77  20.87  12.73  4.339793  14.31
1822   9.07  17.63  21.23  11.70  4.789324  14.91
1823   8.30  15.20  20.40  11.07  4.560967  13.74
1824   7.97  14.67  20.73  12.53  4.589693  13.98
1825   7.97  16.37  21.10  11.23  4.998712  14.17
1826   8.10  14.73  21.73  10.93  5.110179  13.88
1827   7.30  13.63  21.63  11.37  5.222295  13.48
1828   9.03  16.07  22.07  11.93  4.898804  14.78
1829   8.43  15.47  19.43   9.53  4.477352  13.22
1830   7.00  16.37  20.70  11.67  5.121497  13.93
1831   9.83  16.83  20.53  12.33  4.114912  14.88
1832   8.30  15.27  21.57  11.63  4.921293  14.19
1833   8.87  16.47  18.80  11.53  3.922100  13.92
1834   9.70  15.63  21.23  11.40  4.450264  14.49
1835   8.90  14.40  20.50  10.00  4.560976  13.45
1836   8.13  13.53  20.60  11.10  4.607206  13.34
1837   7.20  14.30  21.23  11.27  5.124837  13.50
1838   8.63  15.10  20.67  11.80  4.454374  14.05
1839   7.97  15.27  20.30  11.93  4.524336  13.87
1840   7.73  15.30  20.33  11.50  4.663607  13.72
1841   8.37  15.63  19.87  11.83  4.286523  13.92
1842   8.07  16.00  20.93  11.20  4.873905  14.05
1843   8.87  15.17  19.47  10.60  4.131394  13.53
1844   8.40  15.57  20.47  11.83  4.482647  14.07
1845   7.93  14.47  21.23  12.20  4.810704  13.96
1846   9.93  17.10  23.70  11.87  5.336474  15.65
1847   9.47  17.10  21.27  12.10  4.547332  14.98
...     ...    ...    ...    ...       ...    ...
1989  10.57  16.97  23.13  13.87  4.629436  16.13
1990  11.37  16.83  23.43  11.57  4.919238  15.80
1991   9.30  15.07  23.63  11.50  5.458006  14.88
1992   9.00  16.33  22.43  12.33  5.002517  15.03
1993   9.13  17.10  22.17  11.43  5.074778  14.96
1994  10.33  16.80  23.77  13.27  5.015164  16.04
1995  10.33  16.93  22.33  13.77  4.414555  15.84
1996   9.27  16.87  21.47  12.30  4.622734  14.98
1997  11.33  17.30  22.93  13.60  4.385983  16.29
1998  10.67  17.10  22.90  11.80  4.854989  15.62
1999   9.67  17.60  23.23  11.87  5.274810  15.59
2000  10.57  17.53  22.77  12.77  4.691993  15.91
2001  11.60  17.97  22.77  12.30  4.545916  16.16
2002  10.87  17.17  21.47  13.60  3.973936  15.78
2003   9.03  19.20  25.13  12.23  6.240166  16.40
2004   9.33  17.13  23.33  13.20  5.173966  15.75
2005   7.97  18.73  22.70  11.87  5.744943  15.32
2006   9.30  18.63  23.83  14.47  5.343535  16.56
2007  11.13  18.30  22.23  12.13  4.549332  15.95
2008  10.37  17.00  22.93  11.43  5.007956  15.43
2009   9.03  18.30  24.07  13.47  5.594807  16.22
2010   8.07  16.60  23.63  11.90  5.802194  15.05
2011   9.77  17.90  22.73  14.47  4.739923  16.22
2012   9.87  17.60  23.53  13.30  5.101601  16.08
2013   9.33  15.87  24.17  13.93  5.371618  15.82
2014  10.73  17.73  22.53  14.10  4.379489  16.27
2015   9.77  19.03  23.07  14.53  4.967384  16.60
2016  11.03  17.20  23.90  13.77  4.811999  16.47
2017  10.87  18.70  22.73  13.20  4.641587  16.37
2018   9.33  17.77  24.53  13.50  5.619463  16.28

[201 rows x 6 columns]