In [2]:
import pandas as pd
import numpy as np
import re
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

In [126]:
#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018

years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)

#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')

#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)

#### Average of the 200 years
ymean_mean = ymean_df.mean()


## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]

####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
# ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ÂºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

In [125]:
### Calculating 100 year average temperatures gap
hundyr = range(100)
hungap = []
hunyr = []
for h in hundyr:
    raw = ymean_df.iloc[100+h] - ymean_df.iloc[h]
    yr = 1919
    hunyr.append(f'{yr+h}-{yr-100+h}')
    hungap.append(raw)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))
sortgap = gap_df.sort_values('Avtempdif', ascending=False)

In [87]:
# Question 3: If X is happening, does it mean we are having more extreme temperatues?
## Check mean temperature of 2018 and check the difference between coldest/warmest to mean (dispersion)
## Do the same process with ages 1993, 1958, 1818
### TO-DO Measure extreme temperatures compared to the average in all years
dff = pd.read_csv('temperaturesbarcelonadesde1780.csv')
columns = ['Any', 1,2,3,4,5,6,7,8,9,10,11,12]
dff.columns = columns

t0 = dff[['Any']]
t1 = dff[['Any', 1,2,3]]
t2 = dff[['Any', 4,5,6]]
t3 = dff[['Any', 7,8,9]]
t4 = dff[['Any', 10,11,12]]

t0 = t0.set_index('Any')
t1 = t1.set_index('Any')
t2 = t2.set_index('Any')
t3 = t3.set_index('Any')
t4 = t4.set_index('Any')

years = range(0,239)
t1mean = []
t2mean = []
t3mean = []
t4mean = []

for r in years:
   t = round(t1.iloc[r].mean(),2)
   t22 = round(t2.iloc[r].mean(),2)
   t33 = round(t3.iloc[r].mean(),2)
   t44 = round(t4.iloc[r].mean(),2)
   t1mean.append(t)
   t2mean.append(t22)
   t3mean.append(t33)
   t4mean.append(t44)

t0.insert(0, 'T1Avg', t1mean, True)
t0.insert(1, 'T2Avg', t2mean, True)
t0.insert(2, 'T3Avg', t3mean, True)
t0.insert(3, 'T4Avg', t4mean, True)
t0def = t0.iloc[38:239]

In [88]:
t0def.insert(4, 'YAvg', ymean, True) 
stdt0 = t0def.std(axis=1)
defchart = pd.DataFrame(stdt0)
t0def.insert(4, 'Std', defchart, True)
t0def

      T1Avg  T2Avg  T3Avg  T4Avg       Std   YAvg
Any
1818   9.23  14.80  20.43  11.83  4.166104  14.07
1819   8.43  16.33  21.03  11.57  4.778002  14.34
1820   7.53  15.47  20.73  10.23  5.061798  13.49
1821   8.87  14.77  20.87  12.73  4.339793  14.31
1822   9.07  17.63  21.23  11.70  4.789324  14.91
1823   8.30  15.20  20.40  11.07  4.560967  13.74
1824   7.97  14.67  20.73  12.53  4.589693  13.98
1825   7.97  16.37  21.10  11.23  4.998712  14.17
1826   8.10  14.73  21.73  10.93  5.110179  13.88
1827   7.30  13.63  21.63  11.37  5.222295  13.48
1828   9.03  16.07  22.07  11.93  4.898804  14.78
1829   8.43  15.47  19.43   9.53  4.477352  13.22
1830   7.00  16.37  20.70  11.67  5.121497  13.93
1831   9.83  16.83  20.53  12.33  4.114912  14.88
1832   8.30  15.27  21.57  11.63  4.921293  14.19
1833   8.87  16.47  18.80  11.53  3.922100  13.92
1834   9.70  15.63  21.23  11.40  4.450264  14.49
1835   8.90  14.40  20.50  10.00  4.560976  13.45
1836   8.13  13.53  20.60  11.10  4.607206  13.34
1837   7.20  14.30  21.23  11.27  5.124837  13.50
1838   8.63  15.10  20.67  11.80  4.454374  14.05
1839   7.97  15.27  20.30  11.93  4.524336  13.87
1840   7.73  15.30  20.33  11.50  4.663607  13.72
1841   8.37  15.63  19.87  11.83  4.286523  13.92
1842   8.07  16.00  20.93  11.20  4.873905  14.05
1843   8.87  15.17  19.47  10.60  4.131394  13.53
1844   8.40  15.57  20.47  11.83  4.482647  14.07
1845   7.93  14.47  21.23  12.20  4.810704  13.96
1846   9.93  17.10  23.70  11.87  5.336474  15.65
1847   9.47  17.10  21.27  12.10  4.547332  14.98
...     ...    ...    ...    ...       ...    ...
1989  10.57  16.97  23.13  13.87  4.629436  16.13
1990  11.37  16.83  23.43  11.57  4.919238  15.80
1991   9.30  15.07  23.63  11.50  5.458006  14.88
1992   9.00  16.33  22.43  12.33  5.002517  15.03
1993   9.13  17.10  22.17  11.43  5.074778  14.96
1994  10.33  16.80  23.77  13.27  5.015164  16.04
1995  10.33  16.93  22.33  13.77  4.414555  15.84
1996   9.27  16.87  21.47  12.30  4.622734  14.98
1997  11.33  17.30  22.93  13.60  4.385983  16.29
1998  10.67  17.10  22.90  11.80  4.854989  15.62
1999   9.67  17.60  23.23  11.87  5.274810  15.59
2000  10.57  17.53  22.77  12.77  4.691993  15.91
2001  11.60  17.97  22.77  12.30  4.545916  16.16
2002  10.87  17.17  21.47  13.60  3.973936  15.78
2003   9.03  19.20  25.13  12.23  6.240166  16.40
2004   9.33  17.13  23.33  13.20  5.173966  15.75
2005   7.97  18.73  22.70  11.87  5.744943  15.32
2006   9.30  18.63  23.83  14.47  5.343535  16.56
2007  11.13  18.30  22.23  12.13  4.549332  15.95
2008  10.37  17.00  22.93  11.43  5.007956  15.43
2009   9.03  18.30  24.07  13.47  5.594807  16.22
2010   8.07  16.60  23.63  11.90  5.802194  15.05
2011   9.77  17.90  22.73  14.47  4.739923  16.22
2012   9.87  17.60  23.53  13.30  5.101601  16.08
2013   9.33  15.87  24.17  13.93  5.371618  15.82
2014  10.73  17.73  22.53  14.10  4.379489  16.27
2015   9.77  19.03  23.07  14.53  4.967384  16.60
2016  11.03  17.20  23.90  13.77  4.811999  16.47
2017  10.87  18.70  22.73  13.20  4.641587  16.37
2018   9.33  17.77  24.53  13.50  5.619463  16.28

[201 rows x 6 columns]