In [24]:
import pandas as pd
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

In [14]:
#Pregunta 1: Has the temperature increased in Barcelona in the last 200 years?
# Diferència entre la mitjana de l'any 2018 - 1993
# Diferència entre la mtijana de l'any 2018 - 1958
# Diferència entre la mitjana de l'any 2018 i 1818
### TO-DO Find the yearly average from 1780 to 2018

In [19]:
# Pregunta 2: Hi ha x resultat en comparació de mitjanes, és l'augment proporcional o s'està augmentant més ràpid que abans?
## Compare the average incresases between the ranges above.
### TO-DO Measure year-to-date differences (1,5,10,50,200)

In [20]:
# Question 3: If X is happening, does it mean we are having more extreme temperatues?
## Check mean temperature of 2018 and check the difference between coldest/warmest to mean (dispersion)
## Do the same process with ages 1993, 1958, 1818
### TO-DO Measure extreme temperatures compared to the average in all years

In [31]:
hottest = ds.sort_values('Temperatura', ascending=False)
coldest = ds.sort_values('Temperatura')
coldest

       Any  Mes  Desc_Mes  Temperatura
2113  1956    2    Febrer          2.5
816   1848    1     Gener          3.4
264   1802    1     Gener          3.6
600   1830    1     Gener          4.1
1980  1945    1     Gener          4.3
2460  1985    1     Gener          4.3
420   1815    1     Gener          4.4
1103  1871   12  Desembre          4.4
877   1853    2    Febrer          4.5
1092  1871    1     Gener          4.6
1199  1879   12  Desembre          4.6
384   1812    1     Gener          4.8
1453  1901    2    Febrer          4.8
1356  1893    1     Gener          4.8
1332  1891    1     Gener          4.9
1608  1914    1     Gener          4.9
1655  1917   12  Desembre          5.0
1825  1932    2    Febrer          5.0
277   1803    2    Febrer          5.0
1200  1880    1     Gener          5.1
936   1858    1     Gener          5.2
1260  1885    1     Gener          5.2
337   1808    2    Febrer          5.2
744   1842    1     Gener          5.2
924   1857    1     Gener          5.3
372   1811    1     Gener          5.3
409   1814    2    Febrer          5.3
59    1784   12  Desembre          5.3
599   1829   12  Desembre          5.3
1091  1870   12  Desembre          5.3
...    ...  ...       ...          ...
2838  2016    7    Juliol         24.9
2803  2013    8     Agost         24.9
2659  2001    8     Agost         25.0
2514  1989    7    Juliol         25.0
2586  1995    7    Juliol         25.0
2695  2004    8     Agost         25.1
2010  1947    7    Juliol         25.1
1723  1923    8     Agost         25.1
1579  1911    8     Agost         25.3
2862  2018    7    Juliol         25.3
1843  1933    8     Agost         25.3
798   1846    7    Juliol         25.3
1783  1928    8     Agost         25.4
2046  1950    7    Juliol         25.6
2802  2013    7    Juliol         25.6
2034  1949    7    Juliol         25.6
2681  2003    6      Juny         25.6
2766  2010    7    Juliol         25.7
2575  1994    8     Agost         25.7
1782  1928    7    Juliol         25.7
2863  2018    8     Agost         25.8
2442  1983    7    Juliol         25.8
2574  1994    7    Juliol         25.9
2791  2012    8     Agost         26.0
2826  2015    7    Juliol         26.0
2682  2003    7    Juliol         26.1
2755  2009    8     Agost         26.3
1255  1884    8     Agost         26.4
2718  2006    7    Juliol         27.1
2683  2003    8     Agost         28.5

[2868 rows x 4 columns]