In [127]:
import pandas as pd
import re
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

In [186]:
#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018

years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)

#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')

#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)

#### Average of the 200 years
ymean_mean = ymean_df.mean()


## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]

####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
# ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

In [196]:
#PROJECT QUESTION: Is Climate Change happenning in Barcelona?
# -- We considered climate change is happening if there is an increase of temperature above of 1,5ºC during the XXI century (100 years).
## https://www.bbc.com/news/science-environment-45678338
## https://www.ipcc.ch/sr15/chapter/glossary/

#Q1: Has the temperature increased in Barcelona in the last 200 years?
# Temperature difference between averages from 2018 and 1993
#### ymean_df.iloc[200] - ymean_df.iloc[175]
#Output: +1,32ºC
# Temperature difference between averages from 2018 and 1968
#### ymean_df.iloc[200] - ymean_df.iloc[150]
#Output: +1,41ºC
# Temperature difference between averages from 2018 and 1918
#### ymean_df.iloc[200] - ymean_df.iloc[100]
# Output: 2.05ºC
# Temperature difference between averages from 2018 and 1818
####ymean_df.iloc[200] - ymean_df.iloc[0]
#Output: +2,21ºC

hundyr = range(100)
hungap = []
hunyr = []
for h in hundyr:
    raw = str(ymean_df.iloc[100+h] - ymean_df.iloc[h])
    r = re.findall('.?[0-9].[0-9]+',raw)
    yr = 2019
    hunyr.append(f'{yr-h}-{yr-100-h}')
    hungap.append(r)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)

       Period Avtempdif
0   2019-1919   [ 0.16]
1   2018-1918   [-0.39]
2   2017-1917   [ 1.39]
3   2016-1916   [ 0.73]
4   2015-1915   [-0.55]
5   2014-1914   [ 0.69]
6   2013-1913   [ 0.75]
7   2012-1912   [-0.03]
8   2011-1911   [ 1.16]
9   2010-1910   [ 1.62]
10  2009-1909   [ 0.54]
11  2008-1908   [ 1.55]
12  2007-1907   [ 1.13]
13  2006-1906   [-0.25]
14  2005-1905   [-0.03]
15  2004-1904   [ 0.65]
16  2003-1903   [ 0.59]
17  2002-1902   [ 1.12]
18  2001-1901   [ 1.13]
19  2000-1900   [ 1.95]
20  1999-1899   [ 0.83]
21  1998-1898   [ 0.44]
22  1997-1897   [ 0.68]
23  1996-1896   [ 0.02]
24  1995-1895   [ 0.64]
25  1994-1894   [ 1.93]
26  1993-1893   [ 0.53]
27  1992-1892   [ 1.49]
28  1991-1891   [-1.18]
29  1990-1890   [ 0.85]
..        ...       ...
70  1949-1849   [ 1.96]
71  1948-1848   [ 1.86]
72  1947-1847   [ 1.92]
73  1946-1846   [ 0.95]
74  1945-1845   [ 0.83]
75  1944-1844   [ 0.52]
76  1943-1843   [ 1.61]
77  1942-1842   [ 0.78]
78  1941-1841   [ 0.69]
79  1940-1840   [ 0.74]
80  1939-1839   [ 0.95]
81  1938-1838   [ 0.57]
82  1937-1837   [ 0.74]
83  1936-1836   [ 2.26]
84  1935-1835   [ 1.95]
85  1934-1834   [ 2.37]
86  1933-1833   [ 0.93]
87  1932-1832   [ 1.21]
88  1931-1831   [ 2.28]
89  1930-1830   [ 2.18]
90  1929-1829   [ 1.31]
91  1928-1828   [ 2.74]
92  1927-1827   [ 0.96]
93  1926-1826   [ 0.87]
94  1925-1825   [ 1.76]
95  1924-1824   [ 1.68]
96  1923-1823   [ 2.19]
97  1922-1822   [ 2.73]
98  1921-1821   [ 2.04]
99  1920-1820   [ 2.73]

[100 rows x 2 columns]

In [ ]:
# Pregunta 2: Hi ha x resultat en comparació de mitjanes, és l'augment proporcional o s'està augmentant més ràpid que abans?
## Compare the average incresases between the ranges above.
### TO-DO Measure year-to-date differences (1,5,10,50,200)

In [ ]:
# Question 3: If X is happening, does it mean we are having more extreme temperatues?
## Check mean temperature of 2018 and check the difference between coldest/warmest to mean (dispersion)
## Do the same process with ages 1993, 1958, 1818
### TO-DO Measure extreme temperatures compared to the average in all years

In [ ]:
# Question 3: If X is happening, does it mean we are having more extreme temperatues?
## Check mean temperature of 2018 and check the difference between coldest/warmest to mean (dispersion)
## Do the same process with ages 1993, 1958, 1818
### TO-DO Measure extreme temperatures compared to the average in all years