In [2]:
import pandas as pd
import numpy as np
import re
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

In [267]:
#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018

years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)

#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')

#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)

#### Average of the 200 years
ymean_mean = ymean_df.mean()


## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]

####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

      Avg_temp
Year
1818     14.07
1819     14.34
1820     13.49
1821     14.31
1822     14.91
1823     13.74
1824     13.98
1825     14.17
1826     13.88
1827     13.48
1828     14.78
1829     13.22
1830     13.93
1831     14.88
1832     14.19
1833     13.92
1834     14.49
1835     13.45
1836     13.34
1837     13.50
1838     14.05
1839     13.87
1840     13.72
1841     13.92
1842     14.05
1843     13.53
1844     14.07
1845     13.96
1846     15.65
1847     14.98
...        ...
1989     16.13
1990     15.80
1991     14.88
1992     15.03
1993     14.96
1994     16.04
1995     15.84
1996     14.98
1997     16.29
1998     15.62
1999     15.59
2000     15.91
2001     16.16
2002     15.78
2003     16.40
2004     15.75
2005     15.32
2006     16.56
2007     15.95
2008     15.43
2009     16.22
2010     15.05
2011     16.22
2012     16.08
2013     15.82
2014     16.27
2015     16.60
2016     16.47
2017     16.37
2018     16.28

[201 rows x 1 columns]

In [205]:
#PROJECT QUESTION: Is Climate Change happenning in Barcelona?
# -- We considered climate change is happening if there is an increase of temperature above of 1,5ºC during the XXI century (100 years).
## https://www.bbc.com/news/science-environment-45678338
## https://www.ipcc.ch/sr15/chapter/glossary/

#Q1: Has the temperature increased in Barcelona in the last 200 years?
# Temperature difference between averages from 2018 and 1993
#### ymean_df.iloc[200] - ymean_df.iloc[175]
#Output: +1,32ºC
# Temperature difference between averages from 2018 and 1968
#### ymean_df.iloc[200] - ymean_df.iloc[150]
#Output: +1,41ºC
# Temperature difference between averages from 2018 and 1918
#### ymean_df.iloc[200] - ymean_df.iloc[100]
# Output: 2.05ºC
# Temperature difference between averages from 2018 and 1818
####ymean_df.iloc[200] - ymean_df.iloc[0]
#Output: +2,21ºC

hundyr = range(100)
hungap = []
hunyr = []
for h in hundyr:
    raw = str(ymean_df.iloc[100+h] - ymean_df.iloc[h])
    r = re.findall('.?[0-9].[0-9]+',raw)
    yr = 2019
    hunyr.append(f'{yr-h}-{yr-100-h}')
    hungap.append(r)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df

In [204]:
# Pregunta 2: Hi ha x resultat en comparació de mitjanes, és l'augment proporcional o s'està augmentant més ràpid que abans?
## Compare the average incresases between the ranges above.
### TO-DO Measure year-to-date differences (1,5,10,50,200)

In [ ]:
# Pregunta 2: Hi ha x resultat en comparació de mitjanes, és l'augment proporcional o s'està augmentant més ràpid que abans?
## Compare the average incresases between the ranges above.
### TO-DO Measure year-to-date differences (1,5,10,50,200)

In [38]:
dff = pd.read_csv('temperaturesbarcelonadesde1780.csv')
columns = ['Any', 1,2,3,4,5,6,7,8,9,10,11,12]
dff.columns = columns

t0 = dff[['Any']]
t1 = dff[['Any', 1,2,3]]
t2 = dff[['Any', 4,5,6]]
t3 = dff[['Any', 7,8,9]]
t4 = dff[['Any', 10,11,12]]

t0 = t0.set_index('Any')
t1 = t1.set_index('Any')
t2 = t2.set_index('Any')
t3 = t3.set_index('Any')
t4 = t4.set_index('Any')

years = range(0,239)
t1mean = []
t2mean = []
t3mean = []
t4mean = []

for r in years:
   t = round(t1.iloc[r].mean(),2)
   t22 = round(t2.iloc[r].mean(),2)
   t33 = round(t3.iloc[r].mean(),2)
   t44 = round(t4.iloc[r].mean(),2)
   t1mean.append(t)
   t2mean.append(t22)
   t3mean.append(t33)
   t4mean.append(t44)

t0.insert(0, 'T1Avg', t1mean, True)
t0.insert(1, 'T2Avg', t2mean, True)
t0.insert(2, 'T3Avg', t3mean, True)
t0.insert(3, 'T4Avg', t4mean, True)
t0

      T1Avg  T2Avg  T3Avg  T4Avg
Any
1780   8.53  15.60  21.23  10.93
1781   9.10  16.17  21.23  12.37
1782   8.03  15.33  21.60   9.57
1783   8.83  15.50  20.97  12.30
1784   8.40  16.03  20.83   9.20
1785   7.77  15.77  21.43  11.67
1786   8.67  16.60  20.50  11.00
1787   8.17  15.33  20.73  11.87
1788   8.97  16.27  21.40  10.47
1789   8.30  16.50  20.93   9.93
1790   9.10  15.43  21.07  12.23
1791   9.17  15.60  21.83  11.17
1792   9.67  16.57  20.80  11.53
1793   8.37  14.77  21.83  12.20
1794   9.30  16.27  21.83  11.27
1795   8.10  16.13  20.67  12.13
1796   7.87  15.67  20.70  10.77
1797   7.93  15.20  21.63  11.40
1798   8.53  16.40  22.40  12.97
1799   9.93  15.53  21.20  11.33
1800   8.50  15.87  21.43  10.93
1801   8.53  15.57  20.73  11.17
1802   6.57  16.03  22.03  11.63
1803   6.67  15.80  21.50  11.43
1804   8.43  16.73  21.00  12.20
1805   8.23  14.87  20.80  10.70
1806   8.33  15.13  20.33  12.03
1807   7.00  15.47  21.97  11.17
1808   6.47  15.03  21.23   9.73
1809   9.37  14.10  19.43   9.73
...     ...    ...    ...    ...
1989  10.57  16.97  23.13  13.87
1990  11.37  16.83  23.43  11.57
1991   9.30  15.07  23.63  11.50
1992   9.00  16.33  22.43  12.33
1993   9.13  17.10  22.17  11.43
1994  10.33  16.80  23.77  13.27
1995  10.33  16.93  22.33  13.77
1996   9.27  16.87  21.47  12.30
1997  11.33  17.30  22.93  13.60
1998  10.67  17.10  22.90  11.80
1999   9.67  17.60  23.23  11.87
2000  10.57  17.53  22.77  12.77
2001  11.60  17.97  22.77  12.30
2002  10.87  17.17  21.47  13.60
2003   9.03  19.20  25.13  12.23
2004   9.33  17.13  23.33  13.20
2005   7.97  18.73  22.70  11.87
2006   9.30  18.63  23.83  14.47
2007  11.13  18.30  22.23  12.13
2008  10.37  17.00  22.93  11.43
2009   9.03  18.30  24.07  13.47
2010   8.07  16.60  23.63  11.90
2011   9.77  17.90  22.73  14.47
2012   9.87  17.60  23.53  13.30
2013   9.33  15.87  24.17  13.93
2014  10.73  17.73  22.53  14.10
2015   9.77  19.03  23.07  14.53
2016  11.03  17.20  23.90  13.77
2017  10.87  18.70  22.73  13.20
2018   9.33  17.77  24.53  13.50

[239 rows x 4 columns]

      T1Avg  T2Avg  T3Avg  T4Avg
Any
1780   8.53  15.60  21.23  10.93
1781   9.10  16.17  21.23  12.37
1782   8.03  15.33  21.60   9.57
1783   8.83  15.50  20.97  12.30
1784   8.40  16.03  20.83   9.20
1785   7.77  15.77  21.43  11.67
1786   8.67  16.60  20.50  11.00
1787   8.17  15.33  20.73  11.87
1788   8.97  16.27  21.40  10.47
1789   8.30  16.50  20.93   9.93
1790   9.10  15.43  21.07  12.23
1791   9.17  15.60  21.83  11.17
1792   9.67  16.57  20.80  11.53
1793   8.37  14.77  21.83  12.20
1794   9.30  16.27  21.83  11.27
1795   8.10  16.13  20.67  12.13
1796   7.87  15.67  20.70  10.77
1797   7.93  15.20  21.63  11.40
1798   8.53  16.40  22.40  12.97
1799   9.93  15.53  21.20  11.33
1800   8.50  15.87  21.43  10.93
1801   8.53  15.57  20.73  11.17
1802   6.57  16.03  22.03  11.63
1803   6.67  15.80  21.50  11.43
1804   8.43  16.73  21.00  12.20
1805   8.23  14.87  20.80  10.70
1806   8.33  15.13  20.33  12.03
1807   7.00  15.47  21.97  11.17
1808   6.47  15.03  21.23   9.73
1809   9.37  14.10  19.43   9.73
...     ...    ...    ...    ...
1989  10.57  16.97  23.13  13.87
1990  11.37  16.83  23.43  11.57
1991   9.30  15.07  23.63  11.50
1992   9.00  16.33  22.43  12.33
1993   9.13  17.10  22.17  11.43
1994  10.33  16.80  23.77  13.27
1995  10.33  16.93  22.33  13.77
1996   9.27  16.87  21.47  12.30
1997  11.33  17.30  22.93  13.60
1998  10.67  17.10  22.90  11.80
1999   9.67  17.60  23.23  11.87
2000  10.57  17.53  22.77  12.77
2001  11.60  17.97  22.77  12.30
2002  10.87  17.17  21.47  13.60
2003   9.03  19.20  25.13  12.23
2004   9.33  17.13  23.33  13.20
2005   7.97  18.73  22.70  11.87
2006   9.30  18.63  23.83  14.47
2007  11.13  18.30  22.23  12.13
2008  10.37  17.00  22.93  11.43
2009   9.03  18.30  24.07  13.47
2010   8.07  16.60  23.63  11.90
2011   9.77  17.90  22.73  14.47
2012   9.87  17.60  23.53  13.30
2013   9.33  15.87  24.17  13.93
2014  10.73  17.73  22.53  14.10
2015   9.77  19.03  23.07  14.53
2016  11.03  17.20  23.90  13.77
2017  10.87  18.70  22.73  13.20
2018   9.33  17.77  24.53  13.50

[239 rows x 4 columns]

In [8]:
df.iloc[0:200, 0:4]

      Any  Temp_Mitjana_Gener  Temp_Mitjana_Febrer  Temp_Mitjana_Marc
0    1780                 6.7                  7.3               11.6
1    1781                 7.5                  8.9               10.9
2    1782                 8.2                  6.1                9.8
3    1783                 8.3                  8.6                9.6
4    1784                 7.3                  7.1               10.8
5    1785                 9.0                  6.4                7.9
6    1786                 7.8                  8.3                9.9
7    1787                 5.4                  7.8               11.3
8    1788                 6.4                 10.1               10.4
9    1789                 6.9                  9.3                8.7
10   1790                 7.4                  9.5               10.4
11   1791                 9.5                  6.9               11.1
12   1792                 8.7                  8.9               11.4
13   1793                 6.7                  8.8                9.6
14   1794                 7.0                  9.7               11.2
15   1795                 6.3                  8.3                9.7
16   1796                 9.0                  7.9                6.7
17   1797                 6.8                  8.7                8.3
18   1798                 7.1                  8.6                9.9
19   1799                 7.4                 11.7               10.7
20   1800                 7.5                  8.9                9.1
21   1801                 7.2                  7.7               10.7
22   1802                 3.6                  7.1                9.0
23   1803                 6.9                  5.0                8.1
24   1804                 9.7                  6.0                9.6
25   1805                 6.7                  8.1                9.9
26   1806                 6.8                  8.3                9.9
27   1807                 6.6                  8.0                6.4
28   1808                 5.4                  5.2                8.8
29   1809                 9.5                  9.2                9.4
..    ...                 ...                  ...                ...
170  1950                 8.4                 10.1               11.4
171  1951                 8.1                  8.2                9.9
172  1952                 5.7                  7.6               12.3
173  1953                 6.7                  7.1               10.0
174  1954                 6.1                  6.8               10.7
175  1955                10.6                  8.6                9.7
176  1956                 8.9                  2.5               10.4
177  1957                 7.3                 11.0               12.2
178  1958                 7.3                 10.5               10.3
179  1959                 8.2                  9.5               11.4
180  1960                 8.1                  9.6               11.2
181  1961                 7.2                 11.0               12.1
182  1962                 9.5                  8.0                9.2
183  1963                 6.1                  5.4               10.8
184  1964                 7.4                  9.2               10.4
185  1965                 7.6                  5.8               10.7
186  1966                 8.8                 11.3               10.7
187  1967                 8.0                  9.3               11.9
188  1968                 8.7                  9.0                9.9
189  1969                 8.5                  6.9               10.2
190  1970                 9.5                  8.5                8.5
191  1971                 7.8                  9.2                7.5
192  1972                 7.2                  9.0               10.9
193  1973                 8.2                  7.9                9.3
194  1974                 9.9                  8.5               10.1
195  1975                 9.9                  9.4                8.6
196  1976                 8.2                  8.8               10.9
197  1977                 8.1                 11.1               11.8
198  1978                 6.6                  9.7               11.3
199  1979                 8.0                  9.5               10.8

[200 rows x 4 columns]